
body {
    margin: 0;
}

#mc {
    padding-top: 3em;
    text-align: center;
}

#cc {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bp {
    margin: .5em auto 2em auto;
    display: flex;
}

.bp label {
    border-radius: 25px;
    margin: 10px 20px 10px 0;
    padding-right: 10px;
    border: 1px solid #96A2AA;
}

.bp input {
    margin: 1em;
}

#pr {
    position: absolute;
    left: 400px;
    top: 300px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    background: white;
    opacity: 0;
}

#body {
    margin-top: .5em;
}

#hb {
    z-index: 100;
    position: fixed;
    width: 100%;
    text-align: end;
    align-items: flex-end;
    padding: 1em 2em 1em 0;
    background: rgba(150, 150, 150, 0.05);
}

#hb button {
    width: 10em;
    margin: 0 1em 0 0;
    padding: .6em;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: .75em;
}

#hb.day button  {
    color: #FFFFFF;
    background: #108BE3;
}

#hb.night button  {
    color: #36A8F1;
    background: #FFFFFF;
}

.bp label {
    font-size: 1.2em;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
}

.bp input {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.bp input:checked:before {
    color: white;
    content: "\2713";
    transform: scale(1.5);
    display: inline-block;
    vertical-align: middle;
    padding-top: .2em;
}